* {
    margin: 0;
    padding: 0;
}

html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--bg);
    color: var(--color);
}

:root {
    --color: #1f2937;
    --color-sec: #4b5563;
    --color-primary: #111827;
    --color-secondary: #374151;
    --bg: #fcfcfc;
    --bg-secondary: #ffffff;
    --border-color: #e7e7e9;

    --theme-primary: #1f2937;
    --theme-lighter-alt: #f9fafb;
    --theme-lighter: #f3f4f6;
    --theme-light: #e5e7eb;
    --theme-light-a: rgba(229, 231, 235, 0.9);
    --theme-tertiary: #d1d5db;
    --theme-dark-alt: #9ca3af;
    --theme-dark: #6b7280;
    --theme-darker: #4b5563;


    --grey-white: #ffffff;
    --grey-grey5: #fafafa;
    --grey-grey10: #f7f7f7; // first
    --grey-grey20: #f3f4f6;
    --grey-grey30: #dddddd; // second
    --grey-grey40: #d1d5db;
    --grey-grey50: #9ca3af;
    --grey-grey60: #6b7280;
    --grey-grey90: #4b5563;
    --grey-grey110: #374151;
    --grey-grey130: #1f2937;
    --grey-grey150: #111827;
    --grey-grey160: #0f172a;
    --grey-grey190: #030712;
    --grey-black: #000000;

    --type-primary: var(--grey-grey130);
    --type-secondary: var(--grey-grey90);
    --type-disabled: var(--grey-grey50);

    --border-body: var(--grey-grey30);
    --border-input: var(--grey-grey50);
    --border-input-hover: var(--grey-grey90);
}

.dark {
    --color: #f3f4f6;
    --color-sec: #9ca3af;
    --color-primary: #e5e7eb;
    --color-secondary: #f9fafb;
    --bg: #111827;
    --bg-secondary: #1f2937;
    --border-color: #374151;
}
